html {
    background: #e6e9e9;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;
}

body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 2em 2em;
}

.navbar {
    background-color: #595959;
    color: #ffffff;
    height: 22px;
    width: auto;
    padding: 20px;
    margin: 20px 0px;
  }
  
.navbar a {
    text-decoration: none;
    color: whitesmoke;
    padding: 20px;
  }

.navbar a:hover {
    color: darkgray;
  }

h1 {
    color: #222;
    font-weight: 600;
    line-height: 1.3;
}

#titleName{
    text-align: center;
}

#jokeLabelBtn{
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    display: block;
    height: 150px;
    width: 400px;
    border-style: outset;
    background-color: lightgray;
    font-weight: 500;
    color: black;
}

#jokeLabelBtn:hover {
    border-style: inset;
}

.footer {
    background-color: #ccc;
    width: auto;
    margin-top: 25px;
}

.footer p {
    text-align: center;    
    color: black;
    font-family: sans-serif;
    font-size: 18px;
}