html {
    background: #e6e9e9;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;
}

body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    padding: 3em 2em 1em 2em;
}

#titleName {
	text-align: center;
}

.navbar{
	width: auto;
	background-color: gray;
	padding: 10px;
}

.navbar a {
	padding: 15px;
	color: white;
  text-decoration: none;
  font-weight: 600;
}

.navbar a:hover {
	color: black;
}

h1, h2 {
  color: #222;
  font-weight: 600;
  line-height: 1.3;
}

.footer {
	width: auto;
	background-color: gray;
}

.footer p {
	text-align: center;
	color: whitesmoke;
}